@import"./mediaqueries";
@import"./reset";
@import"./variables";
/**************PAGE-SERVICIOS!!!!!!!!!!!**************************************************/
.contenedor-2{
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
}
.contenedor-sobre-nosotros{
    display: $d-flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;

    
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3 {
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background-color: $amarillo;
    font-size: 20px;
    $text-center: center;
    color: $negro-titulo;
    font-weight: $negrita;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30%;
    padding: 2px;
    margin-right: 14px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}
.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    $text-center: justify;
}
.titulo1{
    margin-top:20px ;
    padding: 50px 50px;
    color: $amarillo;
    font-size: 30px;
    $text-center: center;
    margin-bottom: 60px;
    font-family: $letra-body;
    font-weight: 900;
}


