$amarillo: #edcb54;
$amarillo-fuerte: #c5a221;
$negro-titulo:#2b2821;
$negro-parrafo:#181818;
$d-flex: flex;
$negrita:bolder;
$letra-body:'Montserrat';
$letra-titulo:'Roboto';
$text-center:text-align;








